<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<p>单个复选框：</p>
			<input type="checkbox"  id="checkbox" v-model='checked'/>
			<label for='checkbox' v-html='checked'></label>
			
			<p>多个复选框：</p>
			<input type="checkbox" id="runoob" value="Runoob" v-model='checkedNames'/>
			<label for='runoob'>Runoob</label>
			<input type="checkbox" id="shabi" value="Sb" v-model='checkedNames'/>
			<label for='shabi'>Sb</label>
			<input type="checkbox" id="Db" value="Gu" v-model='checkedNames'/>
			<label for='Db'>Gu</label>
			<br />
			<span>选择的值为：{{checkedNames}}</span>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				checked:false,
				checkedNames:[]
			}
		})
	</script>
</html>
